@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.toast {
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: #1c1c1c;
  color: white;
  padding: 12px 20px;
  border-radius: 8px;
  border-left: 4px solid #c5a05a;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  transform: translateX(120%);
  transition: transform 0.3s ease;
}

.toast.show {
  transform: translateX(0);
}
